/* header */
@use "../abstracts/variables" as var;
@use "../abstracts/mixins";
@use "../base/typography" as type;

.header {
  @include mixins.flex-column();
  @include mixins.flex-center();
  flex-wrap: wrap;
  padding-top: 2rem;

  &__title {
    text-align: center;
  }

  &__img {
    max-width: 100%;
  }

  &__desc {
    max-width: 55ch;
    margin-bottom: 1rem;
    padding: 0rem 5vw;

    &--first {
      font-style: italic;
    }

    &--second {
      font-style: normal;
    }
  }
}
